[Unit]
Description=Market Streamer Service
After=mosquitto.service network-online.target
Requires=mosquitto.service
Wants=network-online.target

[Service]
ExecStart=/usr/local/bin/market-streamer
Restart=always
User=nobody
Group=nogroup
Environment=PYTHONUNBUFFERED=1

[Install]
WantedBy=multi-user.target
