[Unit]
Description=PoloPrivate2MQTT Service
After=network-online.target
Wants=network-online.target

[Service]
ExecStart=%h/.local/bin/poloprivate2mqtt
Restart=always
Environment=PYTHONUNBUFFERED=1

[Install]
WantedBy=default.target
