[Unit]
Description=Polo2MQTT Service
After=network-online.target
Wants=network-online.target

[Service]
ExecStart=%h/.local/bin/polo2mqtt
Restart=always
Environment=PYTHONUNBUFFERED=1

[Install]
WantedBy=default.target
