[Unit]
Description=Sekai-kabuka2mqtt Service
After=network-online.target
Wants=network-online.target

[Service]
ExecStart=%h/.local/bin/sekai-kabuka2mqtt
Restart=always
Environment=PYTHONUNBUFFERED=1

[Install]
WantedBy=default.target
