[Unit]
Description=Market Streamer Service
After=network-online.target
Wants=network-online.target

[Service]
ExecStart=%h/.local/bin/market-streamer
Restart=always
Environment=PYTHONUNBUFFERED=1

[Install]
WantedBy=default.target
